.latest-match-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.match-details-1 {
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.competing-team {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
}
.date-match {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 10px;
}
.latest-match-info {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 10px;
}
.competing-logo {
  align-self: center;
  height: 20%;
  width: 20%;
  margin: 5px;
}
.match-details-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
}
.heading-details {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
}
.para-details {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
}
